@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-size: 57.5%;*/
}

body{
    background-color:#F5F5F7; 
}
/*body {
    font-family:"Rubik", sans-serif;
    font-weight: 900;
    background-image: url('/img/jonas-ducker-SN5tt-oozVI-unsplash.jpg'); 
    background-size: cover;
    background-position: center;
    height: 90vh;
    margin: 0; /* Añade margen 0 para evitar espacios 
}*/

header {
    /* font-family:"Rubik", sans-serif;
    font-weight: 900;
    background-color:rgba(0, 0, 0, 0.5);rgba(1, 37, 52, 0.9); #012534; */
    height: 130px;
    margin: 0 auto;
}

.header-navbar {
    width: 100%;
    margin: auto;
    padding: 20px 90px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 90px;
    align-items: center;
    display: none;
}

#check{
    display: none;
}

.header-navbar-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100px;
}

.header-navbar-nav {
    display: flex;
    align-items: center;
    gap: 1px;
}

.header-nav-item {
    list-style-type: none;
}

.header-nav-links:hover {
    text-decoration: none; /* Quita el subrayado al pasar el cursor */
    color: #ffffff; /* Mantén el color de la fuente al pasar el cursor */
}
nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
}

nav ul li a:hover::after {
    text-decoration: none;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 3px;
    left: 0;
    z-index: 1;
    
}

.header-nav-links {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 550;
    color: #ffffff;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    font-size: 17px;
    transition: background .3s ease-in-out;
    position: relative;
    z-index: 1;
}


 /*--------SECTION BANNER DOMOS Y REDES SOCIALES-------*/
 
  
.img-domos {
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    position: absolute;  /* Quita la posición absoluta */
     top: 0; 
     left: 0; 
     z-index: -1;  
}
.img-domos::before {
    content: "";
    background: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0.6));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } 

 
.banner-titulos{
    margin-top: 70px;
}
.banner-titulos h1{
    padding-left: 11%;
    margin-bottom: 0px;
    font-size: 100px;
    color: #ffffff;
    font-family: "roboto", sans-serif;
    font-weight: 400;
} 

.banner-titulos h3{
    padding-left: 11%;
    margin-top: 0.5px;
   
    font-size: 100px;
    color: #ffffff;
    font-family: "roboto", sans-serif;
    font-weight: 250;
} 

.banner-titulos p{
    padding-left: 12%;
    margin-bottom: 0px;
    font-size: 20px;
    color: #ffffff;
    font-family: "roboto", sans-serif;
    font-weight: 100;
} 

.banner-iconos {
    position: absolute;
    top: 230px;
    right: 100px;
    z-index: 9999;
    background-color:#012534;
    border-radius: 10px;
}

.banner-iconos a {
    display: block;
    margin-bottom: 0px;
    
    color: white;
    font-size: 25px;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    text-decoration: none; /* Quitar subrayado del enlace */
}

.banner-iconos a:hover {
    color: grey; /* Cambiar color de fondo al pasar el cursor */
}

.chevron{
    visibility: hidden;
}
/* ---------------SECTION QUE ES UN DOMO--------------*/
.info-domos {
    width: 100%;
    margin-bottom: 0px;
    padding: 0px;
    box-sizing: border-box;
    padding-top: 16vh;   
    
}

.info-domos div {
    width: 100%; 
    margin-top: 1.9%;
    background-color:#1f2432;/*beige;*/
}

.info-domos .grid {
    background-color: #1f2432;
    display: flex;
    flex-direction: column;
}

.titulo {
    font-family:"Roboto", sans-serif;
    font-weight: 300;/*270;*/
    font-size: 5rem;
    background: linear-gradient(to right, #253ea8 20%, #233885 50%, #1a2451 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    transition-timing-function:ease-in-out;
    transition-delay: 3s;
}

.descripcion-domo {
    font-family:"Roboto", sans-serif;
    width: 100%;
    height: 100%;
    text-align:left;
    padding-bottom: 50px;
    margin-top: 50px; /* Espacio entre el subtítulo y la descripción */
    color:#dee1e4; /*#666;*/
    font-weight: 400;
    font-size: 1.7rem;
}
.grid .img-infodomos{
    width: 40%;
    height: 30%;
}

  
/*-------------SECTION 3 CARACTERISTICAS DOMO---------------*/

.caracteristicas-domo{
    background-image: url(/../img/IMG-20200421-WA0016.jpg);
    background-size: cover;
    background-position: center center;
    margin: 0px;
    margin-top: -20px;
}

.caracteristicas-domo .overlay{
    position: absolute;
 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Negro con 50% de opacidad */
    pointer-events: none; /* Permitir clics a través de la superposición */
    z-index: 0;
  
}
.caracteristicas-domo h1{
    padding-top: 30px;
    color: #dee1e4;
}

.caracteristicas-domo div {
    display:flexbox;
    text-align: center;
}


.titulo-cdomo, .titulo-cdomos, .aboutus-title {
    font-family:"Roboto", sans-serif;
    font-weight: 290;
    font-size: 4rem;
    background: linear-gradient(to right, #253ea8 20%, #233885 50%, #1a2451 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    transition-timing-function:ease-in-out;
    transition-delay: 3s;
}

.titulo-cdomos{
    font-size: 3rem;
    font-weight: 380;
}
.titulo-cdomo{
    font-weight: 380;
    background-color: #dee1e4;
}

.subtitulo-domo, .subtitulodesc-domo {
    font-size: 1.5rem;
    font-family:"Rubik", sans-serif;
    color:#007a9e; /*#333;*/
    text-align: center;
   /* padding: 0px;
    padding-bottom: 9px;*/
}
.subtitulodesc-domo{
    display: inline-block;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px; /* Espacio entre el texto y el borde inferior */
}
.desc-domo p{
    font-size: 1.2rem;
    font-family:"Rubik", sans-serif; 
    color:#fff;
    margin-top: 0px;
    padding: 0px;
    text-align: left;
}
.desc-domo {
    padding-top: 10px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si no hay suficiente espacio */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    padding: 20px;
}

/* Estilo base de las tarjetas */
.carousel-inner{
    border-radius: 10px;
    width: 400px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Negro con 50% de opacidad */
}
.tarjeta{
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    margin: 25px;
    padding: 35px;
    padding-top: 0px;
    width: 500px;
    height: auto;
   
}
/* Estilo para el contenedor de los diseños */
.contenedor-flex {
    display: flex;
    justify-content: space-between; /* Para que los contenedores estén separados */
  }
  
  /* Estilo para cada contenedor de diseño */
  .contenedor-diseño {
    width: calc(50% - 10px); /* 50% del ancho del contenedor padre menos el espacio entre ellos */
    
  }
  



/*-----------------------------SECTION 4---------------------------------*/







.carousel-inner img {
    height: 150px !important;
    width: 200px !important; 
    margin-top: 20px;   
}

/*---------------SECTION QUIENES SOMOS------------------*/

.quienes-somos{
    background-color: #1f2432;
    margin-bottom: 0px;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 1px;
}

.about-us{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    
}

.img-abus{
    width: 30%;
    height: auto;
    padding-left: 5%;
}

.desc-aboutus{
    font-family: "Roboto", sans-serif;
    width: 50%;
    height: auto;
    margin-right: 10%;
    text-align:left;
    padding-bottom: 20px;
    margin-top: 30px; /* Espacio entre el subtítulo y la descripción */
    color: #dee1e4;
    font-weight: 400;
    font-size: 1.7rem;
}
/* quienes somos card*/

  .container-qs{
    user-select: none;
    margin: 20px auto;
    background: #231e39;
    color: #b3b8cd;
    border-radius: 5px;
    width: 340px;
    text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
  }
  .cover-photo{
    background: url(https://images.unsplash.com/photo-1540228232483-1b64a7024923?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
    height: 160px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .profile{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 65px 0 0 -15px;
    border: 1px solid #1f1a32;
    padding: 7px;
    background: #292343;
  }
  .profile-name{
    font-size: 25px;
    font-weight: bold;
    margin: 27px 0 0 0px;
  }
  .about{
    margin-top: 10px;
    line-height: 21px;
  }
 
  .container-qs i{
    padding-left: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
  }
  .container-qs i:hover{
    color: #03bfbc;
  }
    
/*-------------FOOTER-----------------------*/
footer{
    background-color: #1f2432;/*#012534;*/
    color:#dee1e4;
}
.footer {
    display: flex;
    justify-content: center; /* Centra las columnas horizontalmente */
    flex-wrap: wrap;
    padding: 20px;
    background-color: #1f2432;/*#012534;*/
    color: #dee1e4;
}
.column {
    flex: 1 1 30%; /* Establece el ancho de las columnas y las hace flexibles */
    margin: 0 20px; /* Agrega un pequeño margen entre las columnas */
    max-width: 300px; /* Limita el ancho máximo de las columnas */
}

.column div{  /*footer div*/
    justify-content: space-around;
    align-items: center;
    
}
.logo-footer img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    height: auto;
    
}

.column h6 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-family:"Rubik", sans-serif;
    font-weight: 100;
}

.column p, a {
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-family:"Rubik", sans-serif;
    font-weight: 20;
    text-decoration: none;
}

.column a{
    text-decoration: none;
    color: #dee1e4;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-family:"Rubik", sans-serif;
    font-weight: 20;
}
.column p i {
    font-size: 10px;
    margin-right: 10px;
}

.redes-sociales i {
    font-size: 30px;
    height: auto;
    color: #dee1e4;
    margin-left: 12px;
    text-align: center;   
}
.redes-sociales i:hover{
    color: #03bfbc;
}

.desc-footer {
    font-family: "Rubik", sans-serif;
    border-top: 1.5px solid white; /* Línea blanca encima del desc-footer */ 
    padding-top: 10px; /* Espacio encima de la línea */
    margin: 0; /* Elimina el margen en todos los lados */
    text-align: center; /* Centra el contenido horizontalmente */
    font-size: 1.2rem;
    background-color:#1f2432;/* #012534;*/
}

/*-----------------------------------------RESPONSIVE------------------------------------------------*/

@media only screen and (max-width: 500px) {

 .cont-section{
    overflow: hidden;
 }    
/*section que es un domo*/
.info-domos .grid {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
     /* Añadido para ocupar todo el ancho del contenedor */
  }

  .info-domos div {
    margin-top: 0%;
  }

  .titulo {
    font-size: 3rem;
  }

  .descripcion-domo {
    width: 96%;
    height: auto;
    padding-left: 2vh;
    font-size: 1.3rem;
    align-items: center;
    text-align: left;

   /* width: 90%;
    padding-left: 5%;
    font-size: 1.3rem;
    padding-bottom: 10px;
    margin-top: 40px;  Espacio entre el subtítulo y la descripción */
  }

  .grid .img-infodomos{
    width: 65%; /* Cambiado para ocupar el 100% del contenedor padre */
    height: auto; /* Ajusta la altura automáticamente */
  }
/*section carasteristicas domo*/
.titulo-cdomo {
    font-size: 1.8rem;
}


/*section  */
    .column {
        flex: 1 1 100%;
        max-width: none;
        text-align: center;
        padding-bottom: 18px;
    }

    .checkbtn {
        display: block;
        margin-right: -60px;
    }
    
    .checkbtn i {
        font-size: 30px;
        position: relative;
        z-index: 88888;
    }
    
    .logo {
        margin-left: -65px;
        position:relative;
        z-index:88888;
    }
    
    .header-navbar-nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#012534;/*rgba(0, 0, 0, 0.5); */
        top: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align: center;
        transition: all .5s;
        z-index: 10000;
    }
    nav ul li a:hover::after {
        display: none;
    }
    .header-navbar-nav.active {
        left: 0;
    }

    .header-navbar-container {
        position: relative;
    }

    .header-navbar-nav li {
        margin: 20px 0;
        line-height: 5px;
    }
    
    .header-navbar-nav li a {
        font-size: 25px;
        color: #fff;
    }
    
    .header-navbar-nav li a:hover,
    .header-navbar-nav li a.active {
        background: none;
    }
    
    #check:checked ~ .header-navbar-nav {
        left: 0;
    }
    
    .banner-titulos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%; /* Ancho deseado */
        margin: 15vh auto; /* Centra horizontalmente */
        text-align: left; /* Alinea el texto a la izquierda */
      }
      
      .banner-titulos h1,
      .banner-titulos h3,
      .banner-titulos p {
        margin: 0; /* Elimina el margen por defecto */
        padding: 50% auto;
      }
      
      .banner-titulos h1 {
        font-size: 11vw; /* Tamaño de fuente responsivo */
        margin-top: 0; /* Elimina el margen superior */
        margin-bottom: 2vh; /* Espaciado inferior */
      }
      
      .banner-titulos h3 {
        font-size: 11vw; /* Tamaño de fuente responsivo */
       /* margin-top: 2vh;  Espaciado superior */
        margin-bottom: 2vh; /* Espaciado inferior */
      }
      
      .banner-titulos p {
        font-size: 2.2vh; /* Tamaño de fuente fijo */
        margin-bottom: 2vh; /* Espaciado inferior */
      }
      
      
      .banner-iconos {
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content:center; /* Centra horizontalmente */
        align-items: center;
        gap: 18px; /* Espacio entre los iconos */
        position: absolute;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.0);
        border-radius: 10px; 
      }
      
      .banner-iconos a {
        display: flex;
        color: white;
        font-size: 36px;
        border-radius: 5px;
        text-align: center;
        align-items: center;
        text-decoration: none; /* Quitar subrayado del enlace */
        padding-bottom: 10vh;
      }
      
    
    .banner-iconos a:hover {
        color: grey; /* Cambiar color de fondo al pasar el cursor */
        text-decoration: none;
    }
    .chevron {
        visibility: visible;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 50%;
    }
    
    .chevron i {
        font-size: 40px;
        color: #E5E5E5;
    }
    .chevron i:hover {
        color: grey; /* Cambiar color de fondo al pasar el cursor */
        text-decoration: none;
    }

    /*parte carrousel tipo domos*/
    .subtitulo-domo{
        padding-right: 6vh;
    }
    .tarjeta {
        width: 100%; 
        max-width: 400px; 
    }
    .tarjeta img {
        padding-right: 6vh;
    }
    .contenedor-flex {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
      }
      .contenedor-diseño {
        width: calc(100% - 10px); /*50% del ancho del contenedor padre menos el espacio entre ellos */
        justify-content: center;
      }
   /*fin parte carrousel tipo domos*/

   /*------------PARTE QUIENES SOMOS-------------*/
    .quienes-somos .about-us {
       display: flex;
       flex-direction: column-reverse;
       align-items: center;
    }
    .desc-aboutus{
        width: 100%;
        height: auto;
        padding-left: 4vh;
        font-size: 1.3rem;
        align-items: center;
        text-align: left;
    }
    .container-qs{
        width: 280px;
        height: auto;
    }
/*------------FINAL PARTE QUIENES SOMOS-------------*/
}


/*-------------RESPONSIVE-----------------------*/

@media (min-width: 768px) {
    .info-domos .grid {
      flex-direction: row;
      align-items: center;
    }

  
    .img-infodomos {
      width: 50%; /* Cambiado para ocupar el 40% del contenedor padre */
      height: auto; /* Ajusta la altura automáticamente */
    }
  
    .text {
      flex: 1; /* Para que ocupe todo el espacio disponible restante */
      margin-left: 20px; /* Añade espacio entre la imagen y el texto */
    }
   
   

  }

  @media  ( max-width: 480px) {
    
    .chevron{
        margin-top: 75%;
    }
    .info-domos {
        width: 100%;
        margin-bottom: 0px;
        padding: 0px;
        box-sizing: border-box;
        padding-top: 21vh;   
    }
    .text p {
        align-items: center;
        text-align: left;
    }
    .img-infodomos {
        width: 80%; /* Cambiado para ocupar el 40% del contenedor padre */
        height: auto; /* Ajusta la altura automáticamente */
      }
}

